html, body {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

* {
  font-family: 'Exo 2';
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 3rem 1fr 4rem;
  grid-template-areas: 
  "header" "hide-show" "main" "footer";
  background-color: hsl(45, 35%, 96%);
}

h1, h2, .theory header { 
  width: 100%;
}

h2, .theory header {
  color: hsl(110, 73%, 24%);
}

.theory header {
  font: bold 2rem 'Exo 2';
  margin: 0.5rem 0;
}

h2 {
  margin: 0.75rem 0 0.25rem 0;
  padding-left: 0.35rem;
}

.test-results h2 {
  margin: 0.5rem 0 1rem 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
  text-indent: 0.75rem;
  line-height: 1.5rem;
  margin: 0.2rem 0;
}

.test-name {
  align-content: center;
  background-color: hsl(67, 79%, 72%);
  grid-area: header;
}

.test-name > a, a > h1 {
  display: inline-block;
  text-align: center;
  height: 100%;
}

.test-name > a {
  width: 100%;
}

a > h1 {
  margin: 0;
}

.test {
  height: 100%;
  display: inline-block;
  margin-top: -0.5rem;
  font-size: 5rem;
  color: hsl(30, 6%, 37%);
}

.hide-show {
  border-width: 0;
  height: 3.25rem;
  background-color: hsl(24, 78%, 27%);
  grid-area: hide-show;
}

.hide-show > span {
  font-size: 1.5rem;
  color: hsl(42, 20%, 90%);
}

main {
  padding: 5px;
  grid-area: main;
}

.description > img {
	width: 100%;
	max-width: 450px;
	margin: 1rem auto 0.25rem;
}

.testarea {
  grid-area: testarea;
}

.testspace {
  display: grid;
  grid-template-rows: minmax(300px, auto) 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "result1" "result2";
  border-top: 3px solid hsl(0, 1%, 33%);
  padding: 5px 0;
  margin: 0.25rem 0;
  grid-area: testspace;
}

.test-results {
  display: grid;
  padding: 0 0.25rem;
  margin-top: 0.5rem;
  grid-area: results;
}

.numerical {
  grid-area: result1;
}

.graphical {
  grid-area: result2;
}

aside {
  display: none;
  grid-area: aside;
}

.options-list {
	display: block;
  height: auto;
  margin: 1rem 0 1rem 1rem;
}

.values-list, .options-list > button {
  width: 6.5rem;
  height: 3rem;
  margin-top: 0.5rem;
  font-size: 1.75rem;
  border: 2px solid hsl(214, 52%, 31%);
  background-color: silver;
}

.options-list > button {
  margin-left: 0.75rem;
  border-radius: 0.5rem;
}

.text-underline {
  display: block;
  width: 100%;
  font: 600 1.125rem 'Exo 2';
	text-decoration: underline;  
}

ol {
	min-width: 90%;
  padding-left: 1.25rem;
  margin: 0;
}

li {
  margin: 0.25rem 0;
}

table {
  width: 16rem;
  height: 11rem;
  margin: 0.5rem 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.35rem;
}

td {
  height: 25%;
  background-color: white;
  border: 1px solid black;  
}

.value {
  width: 30%;
  padding-left: 0.75rem;
}

.table-description {
  width: auto;
  padding: 0 0.5rem;
  text-align: right;
}

canvas {
  width: 300px;
  height: 300px;
  background-color: transparent;
  border: 3px solid black;
  z-index: 10;
}

.circle {
  width: 300px;
  height: 300px;
  margin: 0.5rem 0;
  border-radius: 100%;
  border: thin solid hsl(216, 66%, 40%);
  background-color: transparent;
  z-index: 5;
}

.pi {
  font: 500 1.125em 'Exo 2';
}

footer {
  display: grid;
  position: fixed;
  width: 100%;
  height: 4.5rem;
  bottom: 0;
  left: 0;
  font-size: 1.25rem;
  color: hsl(39, 59%, 92%);
  background-color: hsl(204, 8%, 25%);
  z-index: 15;
  grid-area: footer; 
}

footer > span {
  display: inline-block;
  padding: 0.5rem;
  font-style: italic;
}

@media screen and (min-width: 480px) {
  html, body {
		font-size: 14px;
	}
	
  .hide-show > span {
    font-size: 1.65rem;
  }
  
	main {
		padding: 10px;
	}
  
  aside {
    position: relative;
    display: grid;
    padding: 0.25rem 0.6rem;
		color: hsl(17, 84%, 29%);
  }
  
  aside:before {
    position: absolute;
    content: '';
  }

	aside > header {
		font-size: 1.25rem;
		margin: 5px 0;
	}

	aside a {
		color: hsl(157, 40%, 15%);
		text-decoration: underline;
	}
}

@media screen and (min-width: 480px) and (max-width: 559px) {  
  aside:before {
    border-top: 2px solid hsl(41, 97%, 50%);
    border-bottom: 2px solid hsl(41, 97%, 50%);
    width: 80%;
    top: 0%;
    bottom: 0%;
    left: 10%;
    right: 10%;
  }
}

@media screen and (min-width: 560px) {
  .description {
    display: grid;
    grid-template-columns: minmax(350px, auto) minmax(195px, 275px);
    grid-template-rows: minmax(320px, auto) 1fr;
    grid-template-areas: "theory theory" "image aside";
  }

  .theory {
    display: grid;
    margin-bottom: 1rem;
    grid-area: theory;
  }

  .description > img {
    display: grid;
    grid-area: image;
  }
  
  aside:before {
    border: none;
    border-left: 2px solid hsl(41, 97%, 50%);
    height: 90%;
    top: 5%;
    bottom: 5%;
    left: 0%;
  }
}

@media screen and (min-width: 560px) and (max-width: 639px) {
  .testspace {
    grid-template-rows: 240px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "result1" "result2";
  }

  .numerical {
    grid-template-columns: auto auto;
    grid-template-rows: minmax(40px, 50px) minmax(160px, 80%);
    grid-template-areas: ". ." "list table";
  }

  .numerical .list {
    display: grid;
    grid-template-columns: minmax(260px, 320px);
    grid-template-rows: auto;
    grid-area: list;
  }
  
  .list + div {
    display: grid;
    grid-template-columns: minmax(230px, auto);
    grid-template-rows: auto;
    grid-area: table;
  }
}

@media screen and (min-width: 640px) {
  main {
    padding: 10px 15px;
  }

  aside {
    padding: 1rem 0.5rem 3rem 1rem;
  }

	.testspace {
    grid-template-rows: 1fr;
    grid-template-columns: minmax(50%, auto) 310px;
    grid-template-areas: "result1 result2";
	}
}

@media screen and (min-width: 768px) {
	html, body {
		font-size: 16px;
	}
  
  .description > img {
    max-width: 500px;
  }

  .testspace {
    grid-template-columns: 1fr minmax(320px, 40%);
  }
}

@media screen and (min-width: 960px) {
	.container {
		width: 960px;
		margin: 0 auto;
	}  
  
	main {
		padding: 15px 20px;
  }
  
  .textbox {
    grid-template-columns: 1fr 300px;
  }
  
  .testspace {
    grid-template-columns: 1fr minmax(360px, auto);
  }
}